body {
  padding: 0; 
  max-width: 640px;
  margin: auto;
  
  
 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 font-size: medium;
 line-height: 180%;
 color: #333;
 background-image: url("../../assets/images/background.png");
}
.centered{
  text-align: center;
}
footer {
  background-color: #666666;
  position: fixed;
  bottom: 0;
  width: 640px;
  height: 44px;
  /* Height of the footer */
  border-top-color: #4aaaa5;
  border-top-width: 6px;
  border-top-style: solid;
  text-align: center;
  font-size: small;
  color: white;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

 }
form{
  margin-top: 2em;
}
h2{
  color: #4aaaa5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 14px;
}
ul{
  background-color: #ffffff;
  margin-top: -30px
}
.doggo{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.floatImage{
  display: block;
  margin-left: auto;
  margin-right: auto;  
}
figcaption {
  background-color: #4aaaa5;
  height: 1.9em;
  width: 30%;
  /* margin-top: -2.4em; */

  text-align: center;
  color: white;
  z-index: 1;
  font-family: 'Open Sans', sans;
 
 }